.header {
    display: flex;
    height: 80px;
    background: linear-gradient(90deg, #0d0d62, #ad5dee);
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

body {
    background-color: #151515;
}

.jo{
    color: white;
    font-size: 27px;
}

table,th, td, thead{
    border: 1px solid black;
    background-color: #522177;
    color: white;

}

table, td{
    border: 1px solid black;
    background-color: #a167cc;
    text-align: center;
    color: #f3ebff;
    height: 50px;
    background:linear-gradient(#6c3598, #a167cc) ;
}

