body {
    margin: 0;
    padding: 0;
}



.header {
    display: flex;
    height: 120px;
    background: linear-gradient(90deg, #0d0d62, #ad5dee);
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navegation {
    display: flex;
    height: calc(100vh - 120px);
    width: 15%;
    background-color: #0d0d62;

}

.conta-usuario {
    font-family: Verdana;
    display: inline-block;
    font-size: 2em;
    color: #ffffff;
    padding: 20px;
    text-align: left;

}

.ajuda {
    display: flex;
    align-items: center;
    margin: 20px;
}


li {
    list-style: none;
    font-family: Verdana;
    font-size: 1.5em;
    margin: 10px;
    color: white;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    gap: 10px;
    margin: 0 10px 0 10px;
    flex-wrap: wrap;
}

.card-receita {
    display: flex;
    width: 225px;
    height: 250px;
    background-color: rgba(238, 93, 108, 0.79);
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    color: white;
    overflow: clip;
}

.card-receita div {
    height: 50%;
    width: 100%;
    overflow: clip;
    border-radius: 50px 50px 0 0;
}

.card-receita div img {
    object-fit: cover;
}

.receita {
    font-family: Arial;
    flex-direction: column;
}

.Ingredientes {
    font-family: Arial;
    flex-direction: column;
    color: white;
}

.main {
    display: flex;
    height: calc(104vh - 150px);
    background-color: #151515;
    width: 100%;
    flex-direction: column;
    overflow: auto;
}

.separar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.dificuldadeF{
    display: flex;
    font-family: Arial;
    color: white;
}

.dificuldadeM {
    display: flex;
    font-family: Arial;
    color: white;
}

.add {
    display: flex;
    height: 65px;
    width: 150px;
    background-color: #EE5D6C;
    border-radius: 70px;
    align-items: center;
    margin: 40px;
    text-decoration: none;
}

.adicionar {
    display: flex;
    font-family: Arial;
    color: white;
    margin: 30px;
}

.adicionar:hover {
    display: flex;
    font-family: Arial;
    color: #050303;
    margin: 30px;
}

a {
    color: white;
    text-decoration: none;
}

input{
    width: 350px;
    height: 40px;
    border-radius: 50px;
    border: 0;
    outline-color: white;
    background: #a167cc;
    font-size: 15px;
    color: white;
    text-align: center;


}
label{
    font-size: 25px;
    color: #ffffff;

}
button {
    color: #f3ebff;
    font-family: Georgia;
    background: linear-gradient(#522177, #380b49);
    border-radius: 100px;
    border: 0;
    width: 100px;
    height: 50px;
    margin: 20px;
    outline-color: white;
    font-family: Bahnschrift;
}

    input::placeholder{
    color: #6c5193;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.botao {
    display: flex;
    flex-direction: row;
    align-content: space-between;

}
body{
    background-color: #3D2166;
}

.nomeee-jogo {
    font-family: avenir;
}
