<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LevelUP</title>
    <link rel="stylesheet" href="/static/LevelUP.css">
</head>
<body>
<div class="header">
    <h1 class="conta-usuario">Conta</h1>
    <div class="ajuda">
        <ul>
            <li>contato</li>
        </ul>
        <img src="/static/telefone_LevelUP.png" width="40px" height="40px">
    </div>
</div>
<div class="separar">
    <div class="navegation">
        <ul>
            <li class="home">Home</li>
            <li class="home">Favoritos</li>
            <li class="home">Catálogo</li>
            <li class="home">Configuração</li>
        </ul>
    </div>
    <div class="main">
        <div class="cards">
            <div class="bloco1">


            </div>

        </div>

    </div>

</div>


</body>
</html>